.contents {
   width: calc(100% - 204px);
   padding: 32px 32px 0 32px !important;
   flex-flow: row wrap;
   @include flexbox;
   @include media-breakpoint-down(sm) {
      padding-left: 0 !important;
      padding-right: 0 !important;
   }
   form,
   .content-body {
      width: 100%;
      h3 {
         margin-bottom: 16px;
      }
      .row {
         margin-top: 32px;
         .add-item-btn {
            padding: 13px 15px 11px;
            img {
               margin-right: 8px;
            }
         }
         .form-tracking {
            p {
               &:nth-last-of-type(1) {
                  margin-bottom: 20px;
               }
            }
         }
      }
   }
   h6 {
      margin-bottom: 4px;
   }
   .subscription-card {
      padding: 22px 20px 16px;
      .card-body {
         padding: 0;
         .logo {
            max-width: 215px;
         }
         strong {
            display: block;
            margin-top: 16px;
            margin-bottom: 2px;
         }
         .info-wrap {
            margin-right: 20px;
         }
         .action-wrap {
            .btn {
               & + .btn {
                  margin-left: 16px;
               }
               &.cancel-renewal {
                  display: none;
               }
            }
            @include media-breakpoint-down(md) {
               flex-flow: row wrap;
               .btn {
                  width: 100%;
                  & + .btn {
                     margin-top: 15px;
                     margin-left: 0;
                  }
               }
            }
         }
         @include media-breakpoint-down(lg) {
            flex-flow: row wrap;
            .action-wrap,
            .info-wrap {
               width: 100%;
               margin-right: 0;
            }
            .action-wrap {
               margin-top: 20px;
            }
         }
      }
      p {
         font-size: 13px;
         line-height: 17px;
         margin-bottom: 0px;
      }
      .card-footer {
         margin-top: 12px;
         border-top: 1px solid $main-bg;
         padding: 0;
         padding-top: 12px;
         background-color: $white;
         display: none;
         strong {
            font-size: $base-font-size;
            color: $black;
         }
         p {
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
      &.pro-plan {
         .card-body {
            .action-wrap {
               .btn {
                  &.cancel-renewal {
                     display: block;
                  }
               }
            }
         }
         .card-footer {
            display: block;
         }
      }
   }
   .action-row {
      width: 100%;
      align-self: flex-end;
      padding: 16px 0;
      border-top: 2px solid $main-bg;
      margin-top: 34px;
   }
}
