.forgot-password-page {
   background-color: $white;
   min-height: 100vh;
   .header {
      padding: 33px 0;
      @include media-breakpoint-down(lg) {
         .container {
            padding-right: 50px;
            padding-left: 50px;
         }
      }
      @include media-breakpoint-down(sm) {
         padding: 15px 0;
         .container {
            padding-right: 15px !important;
            padding-left: 15px !important;
         }
      }
      .container {
         max-width: 1206px;
         @media screen and (min-width: 575px) and (max-width: 767px) {
            padding: 0 50px;
         }
         .main-logo {
            margin-right: 10px;
         }
         .login-link {
            color: $black;
            margin-right: 24px;
            font-family: $VisueltProBold-font;
            font-weight: $bold-font-weight;
            @include media-breakpoint-down(sm) {
               margin-right: 10px;
            }
         }
         .btn {
            padding: 13px 50px;
            @include media-breakpoint-down(sm) {
               padding: 8px 25px;
               min-width: 128px;
            }
         }
      }
   }
   .contents-wrapper {
      &.container {
         max-width: 406px;
         padding: 80px 15px !important;
         @include media-breakpoint-down(sm) {
            padding: 30px 15px !important;
         }
      }
   }
   .loc-icon {
      width: 150px;
      height: 150px;
      background-color: $green-light2;
      padding: 16px;
      @include border-radius(15px);
      @include flex(center);
      margin: 0 auto;
   }
   h1 {
      margin-top: 16px;
      margin-bottom: 0;
      font-size: 34px;
      @include media-breakpoint-down(sm) {
         font-size: 26px;
      }
   }
   p {
      margin-top: 24px;
      margin-bottom: 0;
      font-size: $heading6-fonts;
      line-height: $heading6-line-height + 3;
   }
   .form-wrap {
      margin-top: 36px;
      .btn {
         margin-top: 0px;
      }
      .form-row {
         margin-left: -9px;
         margin-right: -9px;
         padding-left: 10px;
         padding-right: 10px;
         & > .form-group {
            padding-right: 9px;
            padding-left: 9px;
         }
      }
   }
}

.verification-code-form {
   .form-group {
      .form-control {
         font-size: 26px;
         color: $black;
         text-align: center;
      }
   }
}
