APP_NAME=Pedestal
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_DESKTOP_API_KEY=
TWILIO_DESKTOP_API_SECRET=
TWILIO_DESKTOP_OUTGOING_APPLICATION_ID=
TWILIO_VOICE_WEBHOOK_URL=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

TRACK_FORM_API_URL=

MOBILE_API_KEY=

CONTACT_US_EMAILS=
APPLE_PUSH_KEY_ID=
APPLE_PUSH_TEAM_ID=
APPLE_APP_BUNDLE_ID=

GOOGLE_API_KEY=
SMS_GLOBAL_NUMBER=
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SITE_SECRET=
APP_CDN_URL=http://localhost:8000

APP_TRADIE_REVIEWS_URL=
APP_GET_REVIEW_BOOST_URL=
ACTIVE_CAMPAIGN_API_URL=
ACTIVE_CAMPAIGN_API_KEY=
